//Device width
$mobileDeviceWidth: 320px;
$maxMobileDeviceWidth: 480px;
$minTabletDeviceWidth: 600px;
$maxTabletDeviceWidth: 768px;
$netBooksWidth: 1024px;
$minDesctopDeviceWidth: 1280px;
$middleDesctopDeviceWidth: 1600px;

//Content width
$mobileDeviceContentWidth: 270px;
$minDestopContentWidth: 1024px;
$middleDestopContentWidth: 1400px;

//Fonts
$montserrat: "Montserrat", "Arial", sans-serif;

//Font size
$default: 16px;
$large: 20px;