.arrow-down {
  position: fixed;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 30px;
  bottom: 0;

  background-image: url("../../img/arrow-down.png");
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
}
