.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

html { 
  overflow: hidden;
}

body {
  font-family: $montserrat;
  font-size: $minSize;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

.wrapper {
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: $netBooksWidth) {
  .wrapper {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (min-width: $minDesctopDeviceWidth) {
  .wrapper {
    padding-left: 250px;
    padding-right: 250px;
  }
}
