.logo {
  min-height: 100px;
  padding-top: 50vh;
}

.logo__img {
  overflow: hidden;
}

.logo__svg {
  position: relative;
  left: -1px;
  width: 101vw;
  opacity: 0;
}

.logo__svg--show {
  transform: translateX(0);
  opacity: 1;  
  animation: first-show-animation 1500ms ease-in-out;
}

@keyframes first-show-animation {
  0% {
    opacity: 0;
   
  }
  100% {
    opacity: 1;
    
  }
}

@media (min-width: $netBooksWidth) {
  .logo {
    padding: 0;
    transform: translateY(40vh);
    min-height: calc(100vh - 160px);
  }

  .logo__svg {
    position: relative;
    left: -10px;
  }

  .logo--arrow-down {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 20px;
      bottom: 0;
      left: 73px;
      background-image: url("../../img/arrow-down-desctop.png");
      background-repeat: no-repeat;
    }
  }
}
