.main-section {
  padding-top: 60px;
  flex-grow: 1;
}

.main-section__title {
  margin: 0;
  margin-bottom: 30px;
  display: inline;

  font-family: $montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
  z-index: 2;
}

.main-section__content {
  margin: 0;
  padding: 0;
}

@media (min-width: $netBooksWidth) {
  .main-section__title {
    font-size: 25px;

    position: relative;
    top: 0;
    left: 290px;
  }
}
