.main-menu {
  display: none;
}

.main-menu--show {
  padding-top: 100px;
  position: fixed;
  top: 160px;
  right: 0;
  width: 100vw;
  height: calc(100vh - 160px);
  background-image: url("../../img/developer-menu.svg");
  background-size: 101vw;
  background-repeat: no-repeat;
  background-position-x: -10px;
  display: flex;
  justify-content: center;
  z-index: 3;
  animation: menu-show-animate 600ms ease-in-out;
}

@keyframes menu-show-animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-menu__list {
  display: flex;
  flex-direction: column;
  transform: translateX(50%);
}

.main-menu__item {
  text-decoration: none;

  font-family: $montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5%;
  color: #fff;
  text-transform: uppercase;
  transform: translateX(-100%);
}

@media (min-width: $minDesctopDeviceWidth) {  
  .main-menu__item {
    font-size: 60px;
    margin-bottom: 60px;
  }
}