.main-menu {
  display: none;
}

.main-menu--show {
  padding-top: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  animation: menu-show-animate 600ms ease-in;

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    min-height: 100px;
    bottom: 0;
    background-image: url("../img/developer-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 101vw;
  }
}

.main-menu__bg {
  top: 0;
  animation: animate-menu-bg 300ms ease-in;
}

@keyframes animate-menu-bg {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

.main-menu__item {
  display: none;
  text-decoration: none;
}

.main-menu--show .main-menu__item {
  display: inline;
  color: #fff;
}
