.page-nav {
  display: none;
  padding-top: 200px;
}

.page-nav--show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #000;
}

.page-nav__item {
  margin-bottom: 45px;

  font-family: $montserrat;
  font-size: 34px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}