
.services__content {
  margin-bottom: 30px;
  font-family: $montserrat;
  font-size: $default;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
}

.services__skill-list {
  margin: 0;
  padding: 0;
  
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  font-family: $montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 127%;
  text-transform: uppercase;
}

@media (min-width: $desctopDeviceWidth) {
  .services {
    padding-top: 60px;
  }

  .services__container {
    padding-top: 70px;
    padding-left: 415px;
  }

  .services__content {
    margin-bottom: 24px;
    font-size: 25px;
  }

  .services__skill-list {
    font-size: 60px;
  }

  .services__skill-item {
    line-height: 130%;
  }
}