.works {
  padding-top: 60px;
}

.works-list {
  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 191px;

  list-style: none;
}

.works-list__item {
  margin-bottom: 62px;
}

.works-list__item a:first-of-type {
  display: block;
  margin-bottom: 16px;
}

.works-list__item-link {
  position: relative;
  padding-right: 20px;
  font-family: $montserrat;
  font-size: $large;
  font-weight: 700;
  color: #000;
  
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 12px;
    top: 5px;
    right: -11px;
    background-image: url("../../img/arrow-right.png");
    background-repeat: no-repeat;
  }
}

@media (min-width: $maxMobileDeviceWidth) {
  .works-list__item img {
    width: 364px;
    height: 378px;
  }
}

@media (min-width: $desctopDeviceWidth) {
  .works-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 130px;
  }

  .works-list__item {
    margin-bottom: 95px;
    text-align: center;
  }

  .works-list__item img {     
    transform: translateX(50%); 
    width: 593px;
    height: 378px;
  }

  .works-list__item-link {
    padding-left: 70px;
    padding-right: 0;    
    
    width: 937px;
    font-size: 60px;
    top: -134px;

    &::after {
      display: none;
    }
  }
}